// COLOURS:
// sunflower yellow
$primaryColour: #ffd300;
// white
$secondaryColour: #ffffff;
// almost black
$almostBlackColour: #171b0e;
// pine
$pineColour:  #2b331b;
// black
$blackColour: #0f0f0f;


// fonts:
// $headingFont: "Young Serif";
// $bodyFont: "Jakarta Sans";
// $baseFont: 1rem;
