/* _headerBlog.scss */
.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
  } 

.headerBlog  {
    background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/blog-header.jpg);
    background-size: cover;
    height: 100vh;
    // position: relative;
    // .shawarma {
    //     position: absolute;
    //     bottom: -180px;
    //     right: -0;
    //     // change shwarma
    // }
}

