/* _headerBlog.scss */
.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
  } 

.headerBlog  {
    background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
    background-size: contain;
    // border: 2px red solid;
    // height: 80vh;
    
  }
  
