/* _header.scss */
@use "./variable";

.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
  } 

header  {
    background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/home-header.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    .shawarma {
        position: absolute;
        bottom: -180px;
        right: -0;        
    }
    .logo {
        width: 90%;
        // border: 2px blue solid;
        text-align: left;
        margin-top: 40px;
        h1 {
            max-width: 40%;
            line-height: 4.5rem;
            span{
                background-color: white;
                color: #0f0f0f;
                // border: 2px yellow solid;
                // text is not centered try to do so if you have time in the end 
                }
        }
    }
}

