/* _nav.scss */
@use "./variable";

.navBar {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        li {
            padding: 20px;
            margin-top: 40px;
            color: #ffffff;
            // background-color:#ffffff;      
            
            a {
                border: 2px $primaryColour solid;
                // font-family: "Josefin sans";
                
            }
        }
    }
}