/* _nav.scss */
// @use "./variable";

.navBar {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        li {
            padding: 20px;
            margin-top: 40px;
            // text-decoration: none;
            color: #ffffff;
            // background-color:#ffffff;      
            
            a {
                // padding: 2px;
                // border: 2px red solid;
                // text-decoration: underline;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #ffd300;
                    text-decoration-thickness: 3px;
                    text-underline-position: under;
                    // the underline could also be done with border bottom
                } 
             }
        }
    }
}