/* _nav.scss */
// @use "./variable";

.navBar {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        li {
            padding: 20px;
            margin-top: 40px;
            // text-decoration: none;
            color: #ffffff;
            // background-color:#ffffff;      
            
            a {

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #ffd300;
                    text-decoration-thickness: 3px;
                    text-underline-position: under;
                    text-underline-offset: 4px;
                    // the underline could also be done with border bottom
                } 
             }
        }
    }
}

// try to work on the underline if time available
// underline should stay on when user on page
// a white box appears on the margins when a nav option is clicked 