/* _nav.scss */
.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navBar ul li {
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
}
.navBar ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffd300;
          text-decoration-color: #ffd300;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  text-underline-offset: 4px;
}

/* _header.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/home-header.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
}
header .shawarma {
  position: absolute;
  bottom: -180px;
  right: 0;
}
header .logo {
  width: 90%;
  text-align: left;
  margin-top: 40px;
}
header .logo h1 {
  max-width: 40%;
  line-height: 4.5rem;
}
header .logo h1 span {
  background-color: white;
  color: #0f0f0f;
}

/* _footer.scss */ /* _typography.scss */
html {
  font-size: 125%;
}

body {
  font-family: "Josefin sans";
  font-size: 1rem;
  color: #ffd300;
  background-color: #2b331b;
}

h1, h2, h3, h4, p {
  font-family: "Josefin sans";
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.smallCopy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

/* _mediaQueries.scss */ /* _headerBlog.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.headerBlog {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/blog-header.jpg);
  background-size: cover;
  height: 100vh;
}

/* _headerContact.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.headerContact {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/contact-header.jpg);
  background-size: cover;
  height: 100vh;
}

/* _mainIndex.scss */
.info {
  height: 110vh;
  display: flex;
  justify-content: right;
  text-align: left;
  flex-wrap: wrap;
}
.info .items {
  margin: 20px 0px 0px 80px;
  width: 43%;
  display: flex;
  flex-direction: column;
}
.info .items h2 {
  text-transform: uppercase;
}
.info .itemOne, .info .itemTwo {
  align-self: end;
  padding: 0 0 20px 0;
}
.info .location {
  display: flex;
  position: relative;
}
.info .location .locationIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .community {
  display: flex;
  position: relative;
}
.info .community .communityIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .blog {
  display: flex;
  position: relative;
}
.info .blog .blogIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .getInTouch {
  display: flex;
  position: relative;
}
.info .getInTouch .getInTouchIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}/*# sourceMappingURL=styles.css.map */