/* _nav.scss */
.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navBar ul li {
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
}
.navBar ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffd300;
          text-decoration-color: #ffd300;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  text-underline-offset: 4px;
}

/* _header.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/home-header.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
}
header .shawarma {
  position: absolute;
  bottom: -180px;
  right: 0;
}
header .logo {
  width: 90%;
  text-align: left;
  margin-top: 40px;
}
header .logo h1 {
  max-width: 38%;
  line-height: 4.5rem;
}
header .logo h1 span {
  background-color: white;
  color: #0f0f0f;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 0px;
}

/* _footer.scss */ /* _typography.scss */
html {
  font-size: 125%;
}

body {
  font-family: "Josefin sans";
  font-size: 1rem;
  color: #ffd300;
  background-color: #2b331b;
}

h1, h2, h3, h4, p {
  font-family: "Josefin sans";
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.smallCopy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

/* _mediaQueries.scss */ /* _headerBlog.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.headerBlog {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/blog-header.jpg);
  background-size: cover;
  height: 100vh;
}

/* _headerContact.scss */
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.headerContact {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/contact-header.jpg);
  background-size: cover;
  height: 100vh;
}

/* _mainIndex.scss */
.info {
  height: 110vh;
  display: flex;
  justify-content: right;
  text-align: left;
  flex-wrap: wrap;
}
.info .items {
  margin: 20px 0px 0px 80px;
  width: 43%;
  display: flex;
  flex-direction: column;
}
.info .items h2 {
  text-transform: uppercase;
}
.info .itemOne, .info .itemTwo {
  align-self: end;
  padding: 0 0 20px 0;
}
.info .location {
  display: flex;
  position: relative;
}
.info .location .locationIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .community {
  display: flex;
  position: relative;
}
.info .community .communityIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .blog {
  display: flex;
  position: relative;
}
.info .blog .blogIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}
.info .getInTouch {
  display: flex;
  position: relative;
}
.info .getInTouch .getInTouchIcon {
  height: 25px;
  width: 25px;
  background-color: #ffd300;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: -60px;
}/*# sourceMappingURL=styles.css.map */

.menuItems {
  max-width: 100%;
  background-color: #171b0e;  
  display: block;
}

.menuItems h3 {
  text-transform: uppercase;
  font-size: 2rem;
}

.burgerSection, 
.newSection {
  width: 100%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  position: relative;
}

.burgerSection img,
.burgers, 
.new,
.newSection img  {
  max-width: 42%;
}

.burgers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; 
  text-align: right; 
}

.burgers p {
  padding-right: 25%;
}
.new p {
  padding-left: 25%;
}

.burgerSection img { 
  box-shadow: #ffd300 20px 20px;
  position: relative;
  bottom: 50px;
}

/* !!! the box shadow is a little lower in the design 
work on that if you have time in the end */

.newSection img {
  box-shadow: #ffd300 -20px 20px;
  position: relative;
  bottom: -50px;
}

.menuItems button {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Josefin sans";
  background-color: #ffd300;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 10px 10px 10px;
  transition: 0.3s ease;
}

.menuItems button:hover {
  background-color: #2b331b;
  transform: scale(1.05);
  color: #ffd300;
}

/* ******************** */
/* 3rd section of main */
/* ******************* */

.win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win h3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffd300;

}

.giftCart {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.win button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 1rem;
  transition: 0.3s ease;
}

.win button:hover {
  background-color: #ffd300;
  transform: scale(1.05);
  color: #2b331b;
}

.bgrImage {
  background-image: url(../../the-restaurant-mall-assets/the-restaurant-mall-assets/banner.jpg);
  background-size: cover;
  height: 55vh;
  margin-top: 100px;
  width: 100%;
}

.nature {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: 2rem auto 0 auto;
}

.nature img {
  height: 290px;
  max-width: 30%;
  box-shadow: #ffd300 -20px 20px;
  /* border: 2px blueviolet solid; */
  }
  
  .spaces {
    max-width: 65%;
  }

  /* !!! can adjust h3 to line up with picture ; use flexbox  */

  
  .gallery {
    max-width: 100%;
    background-color: #171b0e;  
    /* display: block; */
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .gallery ul {
    display: flex;
    justify-content: space-between;
  }
  
  .gallery li {
    flex-basis: 31%;
  }
  
  .gallery img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .gallery p {
    background-color: #0f0f0f;
    padding: 50px auto;
    text-align: center;
  }
  
    /* ****** */
    /* footer */
    /* ****** */

.footer p {
  background-color: #0f0f0f;
  /* padding: 50px auto; */
  text-align: center;
  line-height: 60px;
  margin: 0%;
}





/* ********** */
/* blog  page */
/* ********** */

.blogMain {
  /* border: 2px red solid; */
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightSide {
  width: 60%;

}

.imageBlog {
  border-left: 5px solid #ffd300;
  border-bottom: 5px solid #ffd300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}



.imgEmplnt img{
  box-shadow: #ffd300 -20px 20px;
  max-width: 98.5%;
  position: relative;
  top: -160px;
  right: -15px;
}

.blog {
  width: 80%;
  /* margin-top: -70px;
  margin-bottom: 100px; */
}

.blog h2 {
  text-transform: uppercase;
  color: #ffd300;
}

.blog h4, 
.comments h4 {
  font-size: 1rem;
  font-weight: bold;
}


/* ************** */
/* comments & form */
/* ************** */

.form {
  /* border: 2px cyan solid;   */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  /* border: 2px greenyellow solid;   */
  width: 80%;
  margin-top: 80px;
}

/* .feedback {
  border: 2px paleturquoise solid; 
  margin-top: 0;
  padding-top: 0;
} */

.comments li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto 0 auto;
}

.comments ul {
  display: flex;
justify-content: space-between;
flex-direction: column;
}

.comments li img {
  width: 10%;
height: auto;
display: flex;
align-self: start;
  }


  .feedback {
    display: flex;
    flex-direction: column;
    max-width: 83%;
  }

  .comments h2 {
    text-transform: uppercase;
    font-size: 1.75rem;
  }

  .comments h4 { 
    color: #ffd300;
    margin: 0;
  }

  .blogMain p {
    font-size: 0.90rem;
    line-height: 1.25rem;
  }



  /* *********** */
  /* Form on blog*/
  /* *********** */


  .rightSide form {
    width: 80%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .nameEmail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .rightSide input {
    width: 45%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #ffd300;
    outline: none;
    background: transparent;
    /* display: flex; */

  }

  .rightSide input::placeholder{
    color: white;
    opacity: 1;
  }

  .rightSide textarea {
    /* border: 2px blue solid;   */
    width: 100%;
    padding: 10px 0;
    height: 150px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border: 2px solid #ffd300;
    outline: none;
    background: transparent;
  }
  
  .rightSide textarea::placeholder {
    color: white;
    opacity: 1;    
  }

.rightSide button {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Josefin sans";
  background-color: #ffd300;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 5px;
  transition: 0.3s ease;
}

.rightSide button:hover {
  transform: scale(0.98);
}

/* ********* */
/* left Side
of blog page */
/* ********* */

.leftSide {
  /* border: 2px blue solid; */
  width: 30%;
  position: relative;
}

.leftSide img {
  max-width: 94%;
  position: absolute;
  top: 100px;
}

.leftSide .post {
  max-width: 80%;
  position: absolute;
  right: 0;
  top: 130px;
  /* border: 2px red solid; */
  padding-top: 84%;
  background-color: #171b0e;
  z-index: -1;
}

.feature {
  max-width: 90%;
  margin: 10px 30px;
}

.feature h3 {
  color:  #ffd300;
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 0;
}

.feature p {
  padding: 0 0 20px 0px;
}

menu {
  padding-left: 0;
  margin: -5px 14px 20px;
}

menu li {
  color: white;
}


/* ****************** */
/* form on contact pg */
/* ****************** */
.main {
  display: flex;
}


.contactForm {
  /* border: 2px red solid; */
  max-width: 60%;
  background-color: #171b0e;
  box-shadow: #ffd300 20px 20px;
  /* position: absolute; */
  position: relative;
  top: -140px;
  right: 20px;
  flex-basis: 63%;
}

.contactForm form {
  width: 90%;
  margin: 80px auto 50px;
  display: flex;
  flex-direction: column;
}

.nameEmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactForm input {
  width: 45%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #ffd300;
  outline: none;
  background: transparent;
  /* display: flex; */

}

.contactForm input::placeholder{
  color: white;
  opacity: 1;
}

.contactForm textarea {
  /* border: 2px blue solid;   */
  width: 100%;
  padding: 10px 0;
  height: 300px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border: 2px solid #ffd300;
  outline: none;
  background: transparent;
}

.contactForm textarea::placeholder {
  color: white;
  opacity: 1;    
}

.contactForm button {
font-size: 1rem;
font-weight: 400;
font-family: "Josefin sans";
background-color: #ffd300;
border: none;
text-transform: uppercase;
text-align: center;
padding: 10px 0 5px;
transition: 0.3s ease;
}

.contactForm button:hover {
transform: scale(0.98);
}


.social {
  flex-basis: 35%;
border: 2px blue solid;
}